.content {
    display: none;
    margin-top: 20px;
    width:98.7%;
    text-align: center;
    padding: 10px;
    border: 1px solid #b6ff00;
    border-radius: 10px;
    background-color: #d8ff76;
}

.image {
    width: 250px;
    height: 250px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}

.auto-style15 {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:medium;
    line-height: 1.8;	
}